<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/stcdemo.css' %}">
</head>
<body>
    <h1>WELCOME TO THE SHIVA NEWS PROTAL</h1>
    <img src="{% static 'images/shivanewslogo.jpg' %}" alt="NOT uploaded photo">
    <ul>
        <li><a href="movie/">Movie Information</a></li>
        <li><a href="sports/">Sports Information</a></li>
        <li><a href="politics/">Political Information</a></li>
    </ul>
</body>
</html>